@import "./assets/style/font";
@tailwind base;
@tailwind components;

@font-face {
  font-family: "IRANSans";
  src: url("./assets/fonts/woff2/IRANSansWeb\(FaNum\).woff2") format("woff2");
}

body {
  font-family: "IRANSans" !important;
  direction: ltr;
}

* {
  font-family: "IRANSans" !important;
  scrollbar-width: thin;
  scrollbar-color: #0d5c75 #a5d1e1;
}

/* button, [type='button'], [type='reset'], [type='submit']{
  -webkit-appearance: button;
    background-image: none;
    background-color: #a5d1e1;
} */

.loading-first{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

@tailwind utilities;